#seccionSuperiorHeader{
    margin: 1%;
}

#seccionInferiorHeader{
    border-style: solid;
    margin: 2%;
    font-size: 20px;
}

#pais{
    position: absolute;
    top: 5%;
    left: 80%;
    font-size: 35px;
}